
footer {
    background-image: url("../image/background.jpg")
     
}

.my0-col {
    background-image: url("../image/background.jpg")

}
    
#googleMaps {
  height: 100%;
  width: 1000px;
}



.my0-col {
    background-image: url("../image/background.jpg")
    

]
}


.my0-col {
    background-image: url("../image/background.jpg")


}

#googleMaps {
  height: 600px;
  width: 100%;
}


.my0-col {
    background-image: url("../image/background.jpg")
    
}


h1 {
    font-display: right;
    color: lightgray;
}

#putInput {
    background-color: lightgray;
]
}

.my1-col{
    background-color: lightgray;
    color: black;
    height: 100%;
    
}

.my2-col {
    background-color: lightgray; 
    color: black; 

}

.my3-col {
    background-color: lightgray; 
    color: black;

}




/* ------ Matt's CSS ----- */

.pubItem {
    float:left;
    box-sizing: border-box;
    height:225px;
    position: relative;
    overflow:hidden;
}
.pubItem button {
    position: absolute;
    bottom:5px;
    left:0px;
    width:100%;
    text-align:center;
}



