


body {
    background-image: url("../image/background.jpg")
}

.my2-col {
    background-color: lightblue; 
    color: black; 
    width: 75%;
}

#pubInput {
    background-color: lightblue; 
    color: black; 
    

}

.my3-col {
    background-color: lightblue; 
    color: black;
    width: 100% 
    

}

