




footer {
    background-image: url("../image/background.jpg")
     
}

#googleMaps {
size: 1000px;
}

.my0-col {
    background-image: url("../image/background.jpg")
    
}


h1 {
    font-display: right;
    color: lightgray;
}

#putInput {
    background-color: lightgray;
}

.my1-col{
    background-color: lightgray;
    color: black;
    width: 25%;
    
}

.my2-col {
    background-color: lightgray; 
    color: black; 
    width: 75%;
}

.my3-col {
    background-color: lightgray; 
    color: black;
    width: 100% 
}



